.logo {
    height: 50px;
    margin: 10px;
}

/*
    For the category display we're messing around with the default nav pills colour (normally just primary).
*/
.nav-pills > li.active.success > a, .nav-pills > li.active.success > a:hover, .nav-pills > li.active.success > a:focus {
    background-color: #3d8b40 !important;
}
.nav-pills > li.active.info > a, .nav-pills > li.active.info > a:hover, .nav-pills > li.active.info > a:focus {
    background-color: #9c27b0 !important;
}
.nav-pills > li.active.warning > a, .nav-pills > li.active.warning > a:hover, .nav-pills > li.active.warning > a:focus {
    background-color: #cc7a00 !important;
}
.nav-pills > li.active.danger > a, .nav-pills > li.active.danger > a:hover, .nav-pills > li.active.danger > a:focus {
    background-color: red !important;
}

@media (max-width: 767px) {
    .griditem:nth-child(n+3) {
        margin-top: 15px;
    }

    .shuffle--fluid .shufflesizer {
        padding: 0;
    }
}

.capcontent {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.7;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
    .capcontent .label {
        opacity: 1;
    }

.thumbnail {
    position: relative;
    overflow: auto;
}
    .thumbnail img {
        width: 100%;
        min-height: 250px;
    }

.btn-moredetails {
    font-weight: 500;
    color: #4CAF50;
}

.btn-images {
    font-weight: 500;
    color: #2196F3;
}

.btn-reset {
    font-weight: 500;
    color: #E51C23;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
 
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}